/* Normal */

.ipsFlag.ipsFlagLarge {
	width: 32px;
	height: 32px;
	background: url({resource="flags32.png" app="core" location="global"}) no-repeat;
	display: inline-block;
	vertical-align: middle;
	line-height:32px;
}

.ipsFlag.ipsFlagLarge.ipsFlag-ad{background-position:0 -704px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ae{background-position:0 -736px;}
.ipsFlag.ipsFlagLarge.ipsFlag-af{background-position:0 -768px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ag{background-position:0 -800px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ai{background-position:0 -832px;}
.ipsFlag.ipsFlagLarge.ipsFlag-al{background-position:0 -864px;}
.ipsFlag.ipsFlagLarge.ipsFlag-am{background-position:0 -896px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ao{background-position:0 -928px;}
.ipsFlag.ipsFlagLarge.ipsFlag-aq{background-position:0 -960px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ar{background-position:0 -992px;}
.ipsFlag.ipsFlagLarge.ipsFlag-as{background-position:0 -1024px;}
.ipsFlag.ipsFlagLarge.ipsFlag-at{background-position:0 -1056px;}
.ipsFlag.ipsFlagLarge.ipsFlag-au{background-position:0 -1088px;}
.ipsFlag.ipsFlagLarge.ipsFlag-aw{background-position:0 -1120px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ax{background-position:0 -1152px;}
.ipsFlag.ipsFlagLarge.ipsFlag-az{background-position:0 -1184px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ba{background-position:0 -1216px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bb{background-position:0 -1248px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bd{background-position:0 -1280px;}
.ipsFlag.ipsFlagLarge.ipsFlag-be{background-position:0 -1312px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bf{background-position:0 -1344px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bg{background-position:0 -1376px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bh{background-position:0 -1408px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bi{background-position:0 -1440px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bj{background-position:0 -1472px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bm{background-position:0 -1504px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bn{background-position:0 -1536px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bo{background-position:0 -1568px;}
.ipsFlag.ipsFlagLarge.ipsFlag-br{background-position:0 -1600px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bs{background-position:0 -1632px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bt{background-position:0 -1664px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bw{background-position:0 -1696px;}
.ipsFlag.ipsFlagLarge.ipsFlag-by{background-position:0 -1728px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bz{background-position:0 -1760px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ca{background-position:0 -1792px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cg{background-position:0 -1824px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cf{background-position:0 -1856px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cd{background-position:0 -1888px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ch{background-position:0 -1920px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ci{background-position:0 -1952px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ck{background-position:0 -1984px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cl{background-position:0 -2016px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cm{background-position:0 -2048px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cn{background-position:0 -2080px;}
.ipsFlag.ipsFlagLarge.ipsFlag-co{background-position:0 -2112px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cr{background-position:0 -2144px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cu{background-position:0 -2176px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cv{background-position:0 -2208px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cy{background-position:0 -2240px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cz{background-position:0 -2272px;}
.ipsFlag.ipsFlagLarge.ipsFlag-de{background-position:0 -2304px;}
.ipsFlag.ipsFlagLarge.ipsFlag-dj{background-position:0 -2336px;}
.ipsFlag.ipsFlagLarge.ipsFlag-dk{background-position:0 -2368px;}
.ipsFlag.ipsFlagLarge.ipsFlag-dm{background-position:0 -2400px;}
.ipsFlag.ipsFlagLarge.ipsFlag-do{background-position:0 -2432px;}
.ipsFlag.ipsFlagLarge.ipsFlag-dz{background-position:0 -2464px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ec{background-position:0 -2496px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ee{background-position:0 -2528px;}
.ipsFlag.ipsFlagLarge.ipsFlag-eg{background-position:0 -2560px;}
.ipsFlag.ipsFlagLarge.ipsFlag-eh{background-position:0 -2592px;}
.ipsFlag.ipsFlagLarge.ipsFlag-er{background-position:0 -2624px;}
.ipsFlag.ipsFlagLarge.ipsFlag-es{background-position:0 -2656px;}
.ipsFlag.ipsFlagLarge.ipsFlag-et{background-position:0 -2688px;}
.ipsFlag.ipsFlagLarge.ipsFlag-fi{background-position:0 -2720px;}
.ipsFlag.ipsFlagLarge.ipsFlag-fj{background-position:0 -2752px;}
.ipsFlag.ipsFlagLarge.ipsFlag-fm{background-position:0 -2784px;}
.ipsFlag.ipsFlagLarge.ipsFlag-fo{background-position:0 -2816px;}
.ipsFlag.ipsFlagLarge.ipsFlag-fr{background-position:0 -2848px;} 
.ipsFlag.ipsFlagLarge.ipsFlag-bl{background-position:0 -2848px;} 
.ipsFlag.ipsFlagLarge.ipsFlag-cp{background-position:0 -2848px;} 
.ipsFlag.ipsFlagLarge.ipsFlag-mf{background-position:0 -2848px;} 
.ipsFlag.ipsFlagLarge.ipsFlag-yt{background-position:0 -2848px;} 
.ipsFlag.ipsFlagLarge.ipsFlag-ga{background-position:0 -2880px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gb{background-position:0 -2912px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sh{background-position:0 -2912px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gd{background-position:0 -2944px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ge{background-position:0 -2976px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gg{background-position:0 -3008px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gh{background-position:0 -3040px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gi{background-position:0 -3072px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gl{background-position:0 -3104px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gm{background-position:0 -3136px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gn{background-position:0 -3168px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gp{background-position:0 -3200px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gq{background-position:0 -3232px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gr{background-position:0 -3264px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gt{background-position:0 -3296px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gu{background-position:0 -3328px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gw{background-position:0 -3360px;}
.ipsFlag.ipsFlagLarge.ipsFlag-gy{background-position:0 -3392px;}
.ipsFlag.ipsFlagLarge.ipsFlag-hk{background-position:0 -3424px;}
.ipsFlag.ipsFlagLarge.ipsFlag-hn{background-position:0 -3456px;}
.ipsFlag.ipsFlagLarge.ipsFlag-hr{background-position:0 -3488px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ht{background-position:0 -3520px;}
.ipsFlag.ipsFlagLarge.ipsFlag-hu{background-position:0 -3552px;}
.ipsFlag.ipsFlagLarge.ipsFlag-id{background-position:0 -3584px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mc{background-position:0 -3584px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ie{background-position:0 -3616px;}
.ipsFlag.ipsFlagLarge.ipsFlag-il{background-position:0 -3648px;}
.ipsFlag.ipsFlagLarge.ipsFlag-im{background-position:0 -3680px;}
.ipsFlag.ipsFlagLarge.ipsFlag-in{background-position:0 -3712px;}
.ipsFlag.ipsFlagLarge.ipsFlag-iq{background-position:0 -3744px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ir{background-position:0 -3776px;}
.ipsFlag.ipsFlagLarge.ipsFlag-is{background-position:0 -3808px;}
.ipsFlag.ipsFlagLarge.ipsFlag-it{background-position:0 -3840px;}
.ipsFlag.ipsFlagLarge.ipsFlag-je{background-position:0 -3872px;}
.ipsFlag.ipsFlagLarge.ipsFlag-jm{background-position:0 -3904px;}
.ipsFlag.ipsFlagLarge.ipsFlag-jo{background-position:0 -3936px;}
.ipsFlag.ipsFlagLarge.ipsFlag-jp{background-position:0 -3968px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ke{background-position:0 -4000px;}
.ipsFlag.ipsFlagLarge.ipsFlag-kg{background-position:0 -4032px;}
.ipsFlag.ipsFlagLarge.ipsFlag-kh{background-position:0 -4064px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ki{background-position:0 -4096px;}
.ipsFlag.ipsFlagLarge.ipsFlag-km{background-position:0 -4128px;}
.ipsFlag.ipsFlagLarge.ipsFlag-kn{background-position:0 -4160px;}
.ipsFlag.ipsFlagLarge.ipsFlag-kp{background-position:0 -4192px;}
.ipsFlag.ipsFlagLarge.ipsFlag-kr{background-position:0 -4224px;}
.ipsFlag.ipsFlagLarge.ipsFlag-kw{background-position:0 -4256px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ky{background-position:0 -4288px;}
.ipsFlag.ipsFlagLarge.ipsFlag-kz{background-position:0 -4320px;}
.ipsFlag.ipsFlagLarge.ipsFlag-la{background-position:0 -4352px;}
.ipsFlag.ipsFlagLarge.ipsFlag-lb{background-position:0 -4384px;}
.ipsFlag.ipsFlagLarge.ipsFlag-lc{background-position:0 -4416px;}
.ipsFlag.ipsFlagLarge.ipsFlag-li{background-position:0 -4448px;}
.ipsFlag.ipsFlagLarge.ipsFlag-lk{background-position:0 -4480px;}
.ipsFlag.ipsFlagLarge.ipsFlag-lr{background-position:0 -4512px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ls{background-position:0 -4544px;}
.ipsFlag.ipsFlagLarge.ipsFlag-lt{background-position:0 -4576px;}
.ipsFlag.ipsFlagLarge.ipsFlag-lu{background-position:0 -4608px;}
.ipsFlag.ipsFlagLarge.ipsFlag-lv{background-position:0 -4640px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ly{background-position:0 -4672px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ma{background-position:0 -4704px;}
.ipsFlag.ipsFlagLarge.ipsFlag-md{background-position:0 -4736px;}
.ipsFlag.ipsFlagLarge.ipsFlag-me{background-position:0 -4768px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mg{background-position:0 -4800px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mh{background-position:0 -4832px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mk{background-position:0 -4864px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ml{background-position:0 -4896px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mm{background-position:0 -4928px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mn{background-position:0 -4960px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mo{background-position:0 -4992px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mq{background-position:0 -5024px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mr{background-position:0 -5056px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ms{background-position:0 -5088px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mt{background-position:0 -5120px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mu{background-position:0 -5152px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mv{background-position:0 -5184px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mw{background-position:0 -5216px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mx{background-position:0 -5248px;}
.ipsFlag.ipsFlagLarge.ipsFlag-my{background-position:0 -5280px;}
.ipsFlag.ipsFlagLarge.ipsFlag-mz{background-position:0 -5312px;}
.ipsFlag.ipsFlagLarge.ipsFlag-na{background-position:0 -5344px;}
.ipsFlag.ipsFlagLarge.ipsFlag-nc{background-position:0 -5376px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ne{background-position:0 -5408px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ng{background-position:0 -5440px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ni{background-position:0 -5472px;}
.ipsFlag.ipsFlagLarge.ipsFlag-nl{background-position:0 -5504px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bq{background-position:0 -5504px;}
.ipsFlag.ipsFlagLarge.ipsFlag-no{background-position:0 -5536px;}
.ipsFlag.ipsFlagLarge.ipsFlag-bv{background-position:0 -5536px;}
.ipsFlag.ipsFlagLarge.ipsFlag-nq{background-position:0 -5536px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sj{background-position:0 -5536px;}
.ipsFlag.ipsFlagLarge.ipsFlag-np{background-position:0 -5568px;}
.ipsFlag.ipsFlagLarge.ipsFlag-nr{background-position:0 -5600px;}
.ipsFlag.ipsFlagLarge.ipsFlag-nz{background-position:0 -5632px;}
.ipsFlag.ipsFlagLarge.ipsFlag-om{background-position:0 -5664px;}
.ipsFlag.ipsFlagLarge.ipsFlag-pa{background-position:0 -5696px;}
.ipsFlag.ipsFlagLarge.ipsFlag-pe{background-position:0 -5728px;}
.ipsFlag.ipsFlagLarge.ipsFlag-pf{background-position:0 -5760px;}
.ipsFlag.ipsFlagLarge.ipsFlag-pg{background-position:0 -5792px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ph{background-position:0 -5824px;}
.ipsFlag.ipsFlagLarge.ipsFlag-pk{background-position:0 -5856px;}
.ipsFlag.ipsFlagLarge.ipsFlag-pl{background-position:0 -5888px;}
.ipsFlag.ipsFlagLarge.ipsFlag-pr{background-position:0 -5920px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ps{background-position:0 -5952px;}
.ipsFlag.ipsFlagLarge.ipsFlag-pt{background-position:0 -5984px;}
.ipsFlag.ipsFlagLarge.ipsFlag-pw{background-position:0 -6016px;}
.ipsFlag.ipsFlagLarge.ipsFlag-py{background-position:0 -6048px;}
.ipsFlag.ipsFlagLarge.ipsFlag-qa{background-position:0 -6080px;}
.ipsFlag.ipsFlagLarge.ipsFlag-re{background-position:0 -6112px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ro{background-position:0 -6144px;}
.ipsFlag.ipsFlagLarge.ipsFlag-rs{background-position:0 -6176px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ru{background-position:0 -6208px;}
.ipsFlag.ipsFlagLarge.ipsFlag-rw{background-position:0 -6240px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sa{background-position:0 -6272px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sb{background-position:0 -6304px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sc{background-position:0 -6336px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sd{background-position:0 -6368px;}
.ipsFlag.ipsFlagLarge.ipsFlag-se{background-position:0 -6400px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sg{background-position:0 -6432px;}
.ipsFlag.ipsFlagLarge.ipsFlag-si{background-position:0 -6464px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sk{background-position:0 -6496px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sl{background-position:0 -6528px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sm{background-position:0 -6560px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sn{background-position:0 -6592px;}
.ipsFlag.ipsFlagLarge.ipsFlag-so{background-position:0 -6624px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sr{background-position:0 -6656px;}
.ipsFlag.ipsFlagLarge.ipsFlag-st{background-position:0 -6688px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sv{background-position:0 -6720px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sy{background-position:0 -6752px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sz{background-position:0 -6784px;}
.ipsFlag.ipsFlagLarge.ipsFlag-tc{background-position:0 -6816px;}
.ipsFlag.ipsFlagLarge.ipsFlag-td{background-position:0 -6848px;}
.ipsFlag.ipsFlagLarge.ipsFlag-tg{background-position:0 -6880px;}
.ipsFlag.ipsFlagLarge.ipsFlag-th{background-position:0 -6912px;}
.ipsFlag.ipsFlagLarge.ipsFlag-tj{background-position:0 -6944px;}
.ipsFlag.ipsFlagLarge.ipsFlag-tl{background-position:0 -6976px;}
.ipsFlag.ipsFlagLarge.ipsFlag-tm{background-position:0 -7008px;}
.ipsFlag.ipsFlagLarge.ipsFlag-tn{background-position:0 -7040px;}
.ipsFlag.ipsFlagLarge.ipsFlag-to{background-position:0 -7072px;}
.ipsFlag.ipsFlagLarge.ipsFlag-tr{background-position:0 -7104px;}
.ipsFlag.ipsFlagLarge.ipsFlag-tt{background-position:0 -7136px;}
.ipsFlag.ipsFlagLarge.ipsFlag-tv{background-position:0 -7168px;}
.ipsFlag.ipsFlagLarge.ipsFlag-tw{background-position:0 -7200px;}
.ipsFlag.ipsFlagLarge.ipsFlag-tz{background-position:0 -7232px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ua{background-position:0 -7264px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ug{background-position:0 -7296px;}
.ipsFlag.ipsFlagLarge.ipsFlag-us{background-position:0 -7328px;}
.ipsFlag.ipsFlagLarge.ipsFlag-uy{background-position:0 -7360px;}
.ipsFlag.ipsFlagLarge.ipsFlag-uz{background-position:0 -7392px;}
.ipsFlag.ipsFlagLarge.ipsFlag-va{background-position:0 -7424px;}
.ipsFlag.ipsFlagLarge.ipsFlag-vc{background-position:0 -7456px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ve{background-position:0 -7488px;}
.ipsFlag.ipsFlagLarge.ipsFlag-vg{background-position:0 -7520px;}
.ipsFlag.ipsFlagLarge.ipsFlag-vi{background-position:0 -7552px;}
.ipsFlag.ipsFlagLarge.ipsFlag-vn{background-position:0 -7584px;}
.ipsFlag.ipsFlagLarge.ipsFlag-vu{background-position:0 -7616px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ws{background-position:0 -7648px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ye{background-position:0 -7680px;}
.ipsFlag.ipsFlagLarge.ipsFlag-za{background-position:0 -7712px;}
.ipsFlag.ipsFlagLarge.ipsFlag-zm{background-position:0 -7744px;}
.ipsFlag.ipsFlagLarge.ipsFlag-zw{background-position:0 -7776px;}
.ipsFlag.ipsFlagLarge.ipsFlag-sx{background-position:0 -7808px;}
.ipsFlag.ipsFlagLarge.ipsFlag-cw{background-position:0 -7840px;}
.ipsFlag.ipsFlagLarge.ipsFlag-ss{background-position:0 -7872px;}

/* Retina */
@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
	.ipsFlag.ipsFlagLarge {
		background: url({resource="flags32.png" app="core" location="global"}) no-repeat;
		background-size: 32px 7904px; 
	}
}