<ips:template parameters="$name, $value" />
<ul class="ipsField_fieldList">
	<li>
		<select name="{$name}" data-role="countrySelect" data-sort>
			<option value='' {{if !$value}}selected{{endif}}>{lang="country"}</option>
			{{foreach \IPS\GeoLocation::$countries as $k}}
				<option value="$k" {{if $k == $value}}selected{{endif}}>
					{lang="country-{$k}"}
				</option>
			{{endforeach}}
		</select>
	</li>
</ul>