<ips:template parameters="$value, $titleValue, $css" />
<span class="ipsFlag ipsFlag-{$value}{$css}" data-ipsTooltip title="{lang="country-{$titleValue}"}" alt="{lang="country-{$titleValue}"}"></span>